/* Fixes for Nocturnal - By cruxie */

/* User List */
.da-userInfo {padding-left: 5px; padding-top: 5px;}
.emptyCard-1RJw8n{background-color: var(--backgroundDark);
}

/* Ctrl + k */
.theme-dark .input-2VB9rf, .theme-dark .input-2VB9rf:focus {
  box-shadow: inset 0 0 100000px rgba(0,0,0,0);
  border-radius: 5px!important;
}

/* New Messages bar Not red */
.isUnread-3Ef-o9 {
  border-color: #f04747 !important;
}

/* Upload Module */
.uploadModal-2ifh8j {
  background-color: var(--backgroundDark) !important;
}

/* Library Settings */
.scroller-2XE8rp {
  background-color: var(--backgroundDark);
}

/* Server Boost Page */
.perksModalContentWrapper-2HU6uL,.ctaBar-2UsjF2,.perk-2WeBWW {
  background-color:var(--backgroundDark) !important;
}

/* Server Settings Boost */
.theme-dark .tierBody-x9kBBp, .tierHeaderLocked-1a2opw{
  background-color:var(--backgroundDark);
  border-radius: 0px;
}

/* Settings - Server's Being Boosted */
.guildHeader-3nh5RK, .subscribeTooltipWrapper-32-Ce8 {background-color: var(--backgroundDarker);}
.guildSubscriptionSlots-JPXXvN{background-color: var(--backgroundDarker);
}

/* Billing Info */
.detailsBlock-FoDTGA{background-color: var(--backgroundDark);
}

/* Server Settings - Roles */
.scroller-305q3I{background-color: var(--backgroundDark);
}

/* tooltip - You can now boost servers */
.theme-dark .tierHeaderUnlocked-2RhWqn {background-color: transparent;
}

/* Recent Mentions */
.channelHeader-3Gd2xq, .tertiary-aMXF0g, .tertiary-aMXF0g:hover, .secondary-dIudih, .secondary-dIudih:hover {background-color: var(--backgroundDarker); border-radius: 10px;}
.messageContainer-gbhlwo{background-color: var(--backgroundDarker);
}

/* Emoji Picker (March or April 2020)*/
.header-8ilj5e, .bodyWrapper-3G0FZZ, .contentWrapper-2txmjs, .inspector-sdLnLS, .wrapper-2N7X54, .categoryWrapper-UZ5YNj {background-color: var(--backgroundDark);}
.emojiItem-14v6tW.emojiItemSelected-1aLkfV, .categoryItemDefaultCategorySelected-_HCKoz, .navButtonActive-3RPAJy {background-color: var(--backgroundDarker);}
.guildIcon-3h-1IH{background-color: transparent;}
.diversitySelectorPopout-3FiGaM, .diversityEmojiItem-L6_IXw:hover {background-color: var(--backgroundDark); border-color: var(--backgroundDarker);}
.diversityEmojiItem-L6_IXw:hover {background-color: var(--backgroundDarker); border-radius: 0%;}
.theme-dark .sadImage-2ph8SI{display: none;
}

/* Add role to use (from popout) */
.theme-dark .header-2bNvm4{background-color: var(--backgroundDarker);
}

/* Add quick reaction */
.button-1I8KM5{background-color: var(--backgroundDarker);
}

/* Join and Create Server text color */
.colorStandard-2KCXvj{color: rgb(190, 190, 190);
}

/* Server Template */
.descriptionBox-1EKQKL{background-color: var(--backgroundDarker);
}

/* Server Boost Status */
.tierHeaderContent-2-YfvN, .theme-dark .tierInProgress-3mBoXq {background-color: var(--backgroundDarker);}
.theme-dark .background-3xPPFc {color: var(--backgroundDarker);
}

/* Server Banner */
.animatedContainer-1pJv5C{background-color: var(--backgroundDark);
}

/* Noise Suppression */
.noiseCancellationPopout-iRK2A0{background-color: var(--backgroundDark);}
.lookFilled-1Gx00P.colorGrey-2DXtkV{background-color: var(--backgroundDarker);
}

/* In place when dragging Server or Folder */
.dragInner-_SHftW{background-color: var(--backgrounddark);
}

/* Account Credit */
.premiumSubscriptionAccountCredit-25i0tQ{background-color: var(--backgroundDarker);
}

/* Emoji Picker Nitro will Expire soon */
.premiumRetentionNotice-1MsjHe {background-color: var(--backgroundDarker);
}

/* Search Module May 2020 */
.searchResultsWrap-3-pOjs, .channelName-wvgELL, .jumpButton-1ol35X {background-color: transparent;}
.searchResult-2N9RV4:after, .searchResult-2N9RV4:before{background-image: none;}
.searchResultMessage-30QnSN.hit-1CXhXT{background-color: var(--backgroundDarker); border-color: var(--backgroundDarker); box-shadow:none;
}


/* New Context Menus May 2020 */
.button-F9qN4n.focused-3ZzkKr {box-shadow: 0 0 0 2px var(--backgroundDarker);}
.button-F9qN4n, .styleFlexible-wGDiIL, .submenu-2-ysNh, .styleFixed-sX-yHV {background-color: var(--backgroundDark);}
.button-F9qN4n:hover, .button-F9qN4n.focused-3ZzkKr, .colorDefault-2K3EoJ.focused-3afm-j, .colorDefault-2K3EoJ:active:not(.hideInteraction-1iH010) {background-color: var(--backgroundDarker);
}

